h1 {
    color: blue;
    text-align: center;
}
body {
    background-image: url(amir.png);
    color: white;
    text-align: left-bottom;
    font-size: 20px;

}
nav {
    text-align: right;
    height: 50px;
    }
    nav ul{
        margin:0;
        padding: 0;
        background-color: greenyellow;
        
    }
    nav ul li{
        text-align: center;
        display: block;
        padding: 14px;
        display: inline;
        border: 1px;
        
    }
    nav ul li a{
        text-decoration: none;

    }
.left{
    position: absolute;
    left:0px;
    width: 600px;
    padding: 10px;
}
footer{
    background-color: greenyellow;
    color: black;
            padding: 10px;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
}
